.bg{
    background-color: rgb(161, 165, 163);
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
}
.reset{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(4, 29, 77);
}
#fa{
    color: rgb(241, 242, 248);
}
.head{
    color: rgb(241, 242, 248);
    text-align: center;
}

.introduce{
    color: white;
}
#background{
    border-radius: 5px;
    border: 1px solid whitesmoke;
}
.form-control {
    border-radius: 10px;
    height: 60px;
}

.btn{
    background-color: rgb(118, 63, 195);
    color: antiquewhite;
    height: 60px;
}
.btn:active{
    background-color: rgb(151, 120, 180);
}
.btn-login{
    background-color: rgb(118, 63, 195);
    color: antiquewhite;
}
.btn-login:hover {
    color: cornflowerblue;
}
#active:active {
    background-color: rgb(172, 128, 212);
    
}




