.bg{
    /* background-color: rgb(201, 195, 177); */
    background-color: whitesmoke;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
hr{
    background-color: rgb(238, 139, 10);
}
.head{
    color: rgb(2, 15, 26);
    text-align: center;
}

.article{
    text-align: center;
    color: rgb(2, 15, 26);
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-facebook:hover{
    color: cadetblue;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.btn-twitter:hover{
    color: darkslateblue;
}
.fa-twitter{
    margin-left: -15px;
}

.btn-google{
    background-color: #aa120a;
    color: #fff;
}
.btn-google:hover{
    color: #42AEEC;
}
.btn-register{
    background-color: rgb(7, 138, 57);
    color: #fff;
}
.btn-register:hover{
    color: sandybrown;
}
.form-control {
    border-radius: 10px;
}

#active{
    background-color: rgb(118, 63, 195);
    color: antiquewhite;
}
#active:hover {
    color: cornflowerblue;
}
#active:active {
    background-color: rgb(172, 128, 212);
    
}

#showemail{
    color: #aa120a;
}
.forgot{
    color: #aa120a;
}
.forgot:hover{
    color: #7d7fd1;
    text-decoration: none;
}

/* #background{
    background-color: rgb(226, 221, 221);
    border-radius: 5px;
} */