.bg{
    /* background-color: rgb(190, 194, 204); */
    background-color: whitesmoke;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.center {
    text-align: center;
}
hr{
    background-color: rgb(238, 139, 10);
}
.title{
    color: rgb(49, 44, 116);
}

.btn{
    background-color: rgb(49, 44, 116);
    color: aliceblue;
}
.fa-user-plus{
    color: aliceblue;
}
#name,#email,#password,.password{
    color: rgb(49, 44, 116);
}
#chkname,#chkemail, #chkpasswd, #chkpass{
    color: red;
    margin-top: 5px;
}
