.main-bgColor {
  background-color: darkslateblue !important;
}
.font-eng-main-header {
  font-size: 28px !important;
}

.font-eng-header {
  font-size: 22px !important;
}
.font-menu {
  font-family: 'Siemreap', cursive !important;
  font-size: 18px !important;
}
.font-khmer-header {
  font-family: 'Siemreap', cursive !important;
  font-size: 20px !important;
  font-weight: bold;
}
.font-body{
  font-family: 'Battambang', cursive;
}
.font-sidebar{
  font-family: 'Hanuman', serif;
  font-weight: 500;
  letter-spacing: 0.8px;
}


.offset {
  margin-top: 4rem !important;
}

.font-header {
  font-size: 1.5em !important;
  font-family: 'Siemreap', cursive !important;
}
.title a {
  background-color: darkslateblue !important;
  text-decoration: none;
}
.main-color {
  color: darkslateblue !important;
}
.bg-whitesmoke {
  background-color: whitesmoke !important;
}
.list-group-item-action-custom {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-group-item-action-custom:hover {
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}
.list-group-item-action-custom:focus {
  color: #495057;
  text-decoration: none;
  background-color: none;
}

.list-group-item-action-custom:active {
  color: #212529;
  background-color: none;
}

.whitesmoke {
  color: whitesmoke !important;
}
.white {
  color: #FFFFFF !important;
}
.spacing {
  font-size: 16px;
  letter-spacing: 0.9px !important;
}
.align {
  text-align: right;
}
.border {
  border: 1px solid darkslateblue !important;
}
.underline:hover {
  text-decoration: none;
}

.btn-outline-main {
  color: darkslateblue;
  background-color: #FFF;
  background-image: none;
  border-color: darkslateblue;
}
.btn-outline-main:hover {
  color: #fff;
  background-color: darkslateblue;
  border-color: #FFF;
}
.btn-outline-main:focus, .btn-outline-main.focus {
  box-shadow: 0 0 0 0.2rem rgba(72,61,139, 0.7);
}

.btn-outline-main.disabled, .btn-outline-main:disabled {
  color: darkslateblue;
  background-color: transparent;
}

.btn-outline-main:not(:disabled):not(.disabled):active, .btn-outline-main:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: darkslateblue;
  border-color: darkslateblue;
}

.btn-outline-main:not(:disabled):not(.disabled):active:focus, .btn-outline-main:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-main.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72,61,139, 0.8) !important;
}

/* Button Main */
.btn-main {
  color: #fff;
  background-color: darkslateblue;
  border-color: darkslateblue;
}
.btn-main:hover {
  color: #fff;
  background-color: #523e71 !important;
  border-color: none !important;
}

.btn-main:focus, .btn-main.focus {
  /* box-shadow: 0 0 0 0.2rem rgba(72,61,139, 0.8) !important; */
  box-shadow: none;
}

.btn-main.disabled, .btn-main:disabled {
  color: #fff;
  background-color: darkslateblue;
  border-color: none;
}

.btn-main:not(:disabled):not(.disabled):active, .btn-main:not(:disabled):not(.disabled).active,
.show > .btn-main.dropdown-toggle {
  color: #fff;
  background-color: darkslateblue !important;
  border-color: none !important;
}
.btn-main:not(:disabled):not(.disabled):active:focus, .btn-main:not(:disabled):not(.disabled).active:focus,
.show > .btn-main.dropdown-toggle:focus {
  /* box-shadow: 0 0 0 0.2rem rgba(72,61,139, 0.7); */
}
.cursor {
  cursor: pointer;
}
.view {
  position: relative;
  overflow: hidden;
  cursor: default; 
}
.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed; 
}
  .view img, .view video {
    position: relative;
    display: block; 
}
  .view video.video-intro {
    z-index: -100;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
}

.overlay .mask {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .overlay .mask:hover {
    opacity: 1; }

.zoom img, .zoom video {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.zoom:hover img, .zoom:hover video {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
/** Footer CSS **/
  section {
      padding: 60px 0;
  }
  
  section .section-title {
      text-align: center;
      color: #007b5e;
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  #footer {
      background: darkslateblue !important;
  }
  #footer h5{
    padding-left: 10px;
      border-left: 3px solid #eeeeee;
      padding-bottom: 6px;
      margin-bottom: 20px;
      color:#ffffff;
  }
  #footer a {
      color: #ffffff;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
  #footer ul.social li{
    padding: 3px 0;
  }
  #footer ul.social li a i {
      margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
  }
  #footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
  }
  #footer ul.social li a,
  #footer ul.quick-links li a{
    color:#ffffff;
  }
  #footer ul.social li a:hover{
    color:#eeeeee;
  }
  #footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
  }
  #footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
  }
  #footer ul.quick-links li a i{
    margin-right: 5px;
  }
  #footer ul.quick-links li:hover a i {
      font-weight: 700;
  }

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

}
@media (max-width:1050px) {
  .align {
    text-align: left;
  }
  .font-eng-header {
    font-size: 22px !important;
  }
  .font-khmer-header {
    font-size: 20px !important;
  }
}

@media (max-width:1090px) {
  .font-eng-header {
    font-size: 22px !important;
  }
  .font-khmer-header {
    font-size: 20px !important;
  }
}
#myslide{
  height: 555px;
  width: 100%;
}

@media (max-width:990px){
  .font-header {
    padding-left: 18px;
  }
}
@media (max-width: 1024px){
  #myslide{
    height: 355px;
  }
}

@media (max-width: 570px){
  #myslide{
    height: 225px;
  }
}

/* .sub-menu-parent { position: relative; } */

/* .sub-menu {
  visibility: hidden; hides sub-menu
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
} */
/*
.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
} */
