/* mian of all div */
#main{
    background-color:lightgray;
    width: 100%;
    height: 1500px;
    margin: 0px 0px;
    /* padding-top: 50px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
}
/* it's the left of the container, it has two div. they are slideIframe and slideDescript */
#slideShow{
    width: 66%;
    height: 98%;
    margin: 2% 1%;
}
#main #slideShow #slideIframe{
    width: 99.5%;
    height: 48%;
    border-style:solid;
    border-color: gray;
    border-width: 2px;
}
/* it's a container that group three div such as #slide-detail, #slide-detail-more, and #slide-comment */
#main #slideShow #slideDescript{
    width: 100%;
    height: 55%;
}
.detail{
    width: 100%;
    margin-top: 5px;
    background-color: white;
}
#slideDescript #slide-detail{
    height: 15%;
}
.sub-title{
    height: 50%;
    width: 100%;
}
#sub-title{
    width: 100%;
    height: 45%;
    padding-top: 15px;
    padding-left: 20px;
}

#slideDescript #slide-detail-more{
    height: 35%;
    background-color: white;
}
#slide-detail-more h3{
    font-family: 'Battambang';
    color: rebeccapurple;
    font-size: 1.3em;
    padding-top: 22px;
    padding-left: 15px;
}
#slideDescript #slide-comment{
    height: 40%;
    margin-top: 5px;
    background-color: white;
}
#slide-comment h3{
    font-family: 'Battambang';
    color: rebeccapurple;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
   text-decoration: underline;
}
#slide-comment h5{
    font-family: 'Battambang';
    color: blueviolet;
    padding-top: 2px;
    padding-left: 15px;
    font-weight: bold;
}
/* it's the right container for group all slide that are related to main slide , it group two div such as title-related and body-related*/
#slideRelated{
    width: 30%;
    height: 48%;
    background-color: #494949 !important;
    margin: 2% 1% 1% 1%;
}
#title-related{
    margin: 0px 0px 5px 0px;
    text-align: center;
    background-color: grey;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    border-bottom: solid white 2px;
    font-family: 'Bayon';
}
#body-related{
    overflow-y: scroll;
    height: 91%;
    z-index: 100;
}
#slideRelated #body-related .contain-item{
    width: 90%;
    height: 140px;
    margin: 10px 22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* it group pic in body-related */
#slideRelated #body-related .contain-item .pic{
    width: 50%;
    height: 100%;
}
#slideRelated #body-related .contain-item .pic img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#slideRelated #body-related .contain-item .content{
    width: 45%;
    height: 100%;
    padding: 10px;
}
#slideRelated #body-related .contain-item .content p{
    margin: 5px;
    color: white;
}


.footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}




/* all above for creating responsive  */

@media only screen and (max-width: 1300px) {
    #slideRelated #body-related .contain-item{
        width: 90%;
        height: 240px;
        flex-direction: row;
    }
    /* it group pic in body-related */
    #slideRelated #body-related .contain-item .pic{
        width: 70%;
        height: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    #main{
        height: 2000px;
        display: block;;
    }
    #slideShow{
        width: 97%;
        height: 60%;
        margin: 2% 1% 0% 1%;
    }
    #slideRelated{
        width: 97%;
        height: 35%;
    }

    #slideRelated #body-related .contain-item{
        height: 240px;
        margin: 0px 22px;
    }
    /* it group pic in body-related */
    #slideRelated #body-related .contain-item .pic{
        width: 50%;
        height: 100%;
    }
    #main #slideShow #slideDescript{
        height: 58%;
    }
}