<div id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h5>អំពីយើង</h5>
          <p class="white spacing align">គឺជាទំព័រមួយដែលបានប្រមូលផ្តុំនូវឯកសារនានាជុំវិញប្រទេសកម្ពុជាជាភាសាខ្មែររួមទាំងឯកសារសំខាន់នានាជុំវិញពិភពលោក ដែលសុទ្ធសឹងតែជាឯកសារល្អៗដែលអាចជួយដល់ការស្រាវជ្រាវបន្ថែមរបស់អ្នកអានទាំងឡាយដោយវាមានច្រើនប្រភេទនិងត្រូវបានរៀបចំយ៉ាងស្រួល
            ទៅដល់អ្នកអានផងដែរ។យើងខ្ញុំសង្ឃឹមថាទំព័ររបស់យើងនឹងអាចជាស្ពានមួយដែលអាចចម្លងអ្នកអានទាំងឡាយអោយបានសម្រេចគោលដៅរបស់ពួកគេ។
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="#top">
                <i class="fa fa-angle-double-right"></i>Home</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>About</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>FAQ</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>Get Started</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>Videos</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>Upload Document</a>
            </li>
            <li>
              <a href="contact.html">
                <i class="fa fa-angle-double-right"></i>Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h5>ទីតាំងនឹងទំនាក់ទំនង</h5>
          <p class="white spacing">
            <i class="fas fa-map-marker"></i> ផ្ទះលេខ #12, ផ្លូវលេខ 323, សង្កាត់ បឹងកក់២, ខ័ណ្ឌ ទួលគោក, រាជធានី ភ្នំពេញ</p>
          <p class="white spacing">
            <i class="far fa-envelope"></i> Email:
            <a href="#">khmeracademy.org@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/KhmerAcademy.Org/" target="_blank">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter-square" target="_blank"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-google-plus-square" target="_blank"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
        </hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">&copy All right Reversed.
            <a class="text-green ml-2" href="http://www.khmeracademy.org/" target="_blank">Khmer Academy</a>
          </p>
        </div>
        </hr>
      </div>
    </div>
</div>